{% extends 'music/base.html' %}
{% block title %}All Songs{% endblock %}
{% block songs_active %}active{% endblock %}

{% block body %}

<main class="mt-5 pt-5">
    <div class="container-fluid songs-container">

        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-pills" style="margin-bottom: 10px;">
                    <li role="presentation" {% if filter_by == 'all' %}class="active"{% endif %}><a href="{% url 'music:songs' 'all' %}">View All</a></li>
                    <li role="presentation" {% if filter_by == 'favorites' %}class="active"{% endif %}><a href="{% url 'music:songs' 'favorites' %}">Favorites</a></li>
                </ul>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-12">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Song Title</th>
                                    <th>Artist</th>
                                    <th>Audio File</th>
                                    <th>Album</th>
                                    <th>Favorite</th>
                                    <th>Song Genre</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for song in songs_list %}
                                    <tr>
                                        <td>{{ song.song_title }}</td>
                                        <td>{{ song.albums.artist }}</td>
                                        <td>
                                            <a target="_blank" href="{{ song.audio_file.url }}">
                                                <button type="button" class="btn btn-success btn-sm">
                                                    <span class="fa fa-play"></span>&nbsp; Play
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'music:detail' song.albums.id %}">
                                                <img src="{{ song.albums.album_logo }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                            </a>
                                            <a href="{% url 'music:detail' song.albums.id %}"class="text-white">{{ song.albums.album_title }}</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'music:favorite' song.id %}" class="btn-favorite"><span class="fa fa-star {% if song.is_favorite %}active{% endif %}"></span></a>
                                        </td>
                                        <td>{{ song.song_genre }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

    </div>
</main>
{% endblock %}
