<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %}Air Music {% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two:400i&display=swap" rel="stylesheet">
    <link href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" style="background-color: dimgrey;" >
        <!-- Logo-->
        <a class="navbar-brand"  href="{% url "music:index" %}">
            <img src="https://img.icons8.com/clouds/100/000000/music.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Air Music
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navSupportedContent" aria-controls="navSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navSupportedContent">
            <!-- Items -->
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url "music:index" %}">
                        <img src="{% static 'music/images/iconmonstr-disc-5-24 (1).png' %}" class="d-inline-block align-top" alt="">&nbsp
                        Albums
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="#">
                         <img src="{% static 'music/images/iconmonstr-disc-4-24 (1).png' %}" class="d-inline-block align-top" alt="">&nbsp
                         Songs
                     </a>
                </li>


                <form class="form-inline">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent">
                                <img src="{% static 'music/images/iconmonstr-magnifier-4-24.png' %}" class="d-inline-block align-top" alt="">
                            </span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
                    </div>
                </form>

            </ul>

            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="{% static 'music/images/iconmonstr-plus-6-24.png' %}" class="d-inline-block align-top" alt="">&nbsp
                        Add Album
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                     <a class="nav-link" href="#">
                         <i class="im im-power d-inline-block align-top"></i>
                         Sign Out
                     </a>
                </li>
            </ul>


        </div>
    </nav>

    {% block body %}
    {% endblock %}
</body>
</html>