body{
    background: white url("images/background.png");
}
.navbar-brand{
    font-family: 'Lobster Two', cursive;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}
.table{background-color: #6b6b6b2d;}